/* Normal desktop :1200px. */

@media (min-width: 1200px) {
  .order-xl-first {
    order: -1 !important;
  }
}

/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1200px) {
  .pricing {
    margin-bottom: 30px;
    margin-top: 0;
  }
}

/* Tablet desktop :768px. */

@media (min-width: 768px) and (max-width: 991px) {
  .header-area {
    padding: 26px 0;
  }
  .main-menu li a {
    padding: 12px 25px;
  }
  .main-menu.mobile-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 300px;
    max-width: calc(100% - 2rem);
    display: flex;
    flex-direction: column;
    z-index: 1026;
    padding: 1rem 0;
    overflow: auto;
    transform: translateX(-100%);
    background: #121a2f;
    padding-top: 25px;
    transition: 0.4s ease;
  }
  .toggle-btn {
    right: 80px;
  }

  .hero-img {
    padding-top: 150px;
  }
  .h-content {
    padding-top: 30px;
  }
}

/* small mobile :320px. */

@media (max-width: 767px) {
  .header-area {
    padding: 26px 0;
  }
  .main-menu li a {
    padding: 12px 25px;
  }
  .main-menu.mobile-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 300px;
    max-width: calc(100% - 2rem);
    display: flex;
    flex-direction: column;
    z-index: 1026;
    padding: 1rem 0;
    overflow: auto;
    transform: translateX(-100%);
    background: #121a2f;
    padding-top: 25px;
    transition: 0.4s ease;
  }

  .hero-img {
    padding-top: 150px;
  }
  .h-content {
    padding-top: 30px;
    text-align: center;
  }
  .h-content h1 {
    font-size: 36px;
  }

  .section-title h2 {
    font-size: 26px;
    padding: 0 20px;
  }
  .step-here {
    padding: 30px;
  }
  .brand-content {
    padding: 0;
  }
  .save {
    position: absolute;
    top: -20px;
    left: 0;
  }
  .pricing {
    margin-bottom: 30px;
    margin-top: 0;
  }
  .footer-cta {
    padding: 30px;
  }
  .cta-image {
    bottom: -30px;
  }
}

/* Large Mobile :480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
}
